body {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 }
 
 .container {
   display: flex;
   flex-direction: column;
   border: 1px solid black;
   color: #000;
   text-align: center;
   font-weight: bold;
 }

 .row {
  display: flex;
  flex-direction: row;
}

.button {
  display: flex;
  min-height: 25px ;
  min-width: 150px;
  align-items:center;
}

#login {
  display: flex;
}

.black-cell {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  width: 80px;
  height: 80px;
  background-color: darkgrey;
  border: 1px solid black;
  cursor: pointer;
  color: black;
 text-align: center;
 justify-content: center;
}

.white-cell {
 display: flex;
 font-size: 25px;
 font-weight: bold;
 width: 80px;
 height: 80px;
 background-color: darkgrey;
 border: 1px solid black;
 cursor: pointer;
text-align: center;
justify-content: center;
}

.cell {
 display: flex;
 font-size: 25px;
 font-weight: bold;
 width: 80px;
 height: 80px;
 background-color: darkgrey;;
 border: 1px solid black;
 cursor: pointer;
text-align: center;
justify-content: center;
}

.black-cell-clicked {
 display: flex;
 font-size: 25px;
 font-weight: bold;
 width: 80px;
 height: 80px;
 background-color:darkgrey;
 border: 1px solid yellow;
 cursor: pointer;
 color: black;
text-align: center;
justify-content: center;
}

.white-cell-clicked {
display: flex;
font-size: 25px;
font-weight: bold;
width: 80px;
height: 80px;
background-color: darkgrey;
border: 1px solid yellow;
cursor: pointer;
text-align: center;
justify-content: center;
}

/*******************************************************/

.light-black-cell {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  width: 80px;
  height: 80px;
  background-color:lightgrey;
  border: 1px solid black;
  cursor: pointer;
  color: black;
 text-align: center;
 justify-content: center;
}

.light-white-cell {
 display: flex;
 font-size: 25px;
 font-weight: bold;
 width: 80px;
 height: 80px;
 background-color: lightgrey;
 border: 1px solid black;
 cursor: pointer;
text-align: center;
justify-content: center;
}

.light-cell {
 display: flex;
 font-size: 25px;
 font-weight: bold;
 width: 80px;
 height: 80px;
 background-color: lightgrey;;
 border: 1px solid black;
 cursor: pointer;
text-align: center;
justify-content: center;
}

.light-black-cell-clicked {
 display: flex;
 font-size: 25px;
 font-weight: bold;
 width: 80px;
 height: 80px;
 background-color:lightgrey;
 border: 1px solid yellow;
 cursor: pointer;
 color: black;
text-align: center;
justify-content: center;
}

.light-white-cell-clicked {
display: flex;
font-size: 25px;
font-weight: bold;
width: 80px;
height: 80px;
background-color: lightgrey;
border: 1px solid yellow;
cursor: pointer;
text-align: center;
justify-content: center;
}